
page-poor{
    body{
        direction: rtl;
        // background:#c4c2c2;
    }

    // #navColor{
    //     background: #107979;
    // }
    .bar-button-menutoggle-md ion-icon {
        padding: 0 6px;
        font-size: 2.4rem;
        color: white;
    }
    .toolbar-background {
        background-color: #298b74;

      }
      .toolbar-title-md
      {
        color:#f4f4f4;
      }
      .bar-button-default-md
      {
        color:#f4f4f4;
      }
    //   h5[_ngcontent-c0] {
    .headertitle{
        margin: 5px 0 20px 0;
        color: #298b74;
    }
    
    .card[_ngcontent-c0] .card-content[_ngcontent-c0] {
        padding:0px 10px 10px 10px;

        // border-radius: 0 0 2px 2px;
    }
    .card-md p {
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: rgb(165, 164, 164);
        margin: 0px 0px 2px;
    }

      .slide{
          padding-top: 10px;
      }
      .btn-w{
          color:#fff
      }
      .g-font{
        font-family: 'Droid Arabic Kufi', serif;
        color: #fff
    }
      //Start Social Media
      .list-inline{padding-left:0;margin-left:-5px;list-style:none}
      .list-inline>li{display:inline-block;padding-right:5px;padding-left:5px}

      .list-inline>li>a{
        font-size:16px;
        // padding: 10px;
        color:#aaaaaa;
        display: inline-block;
        }
        .list-inline>li>a:hover{
            background-color: #3765a3;
            color:#fff;
            padding-right: 5px;
            width: 45px;
        }
        //end Social Media
    .content-md {
        color: #298b74;
        background: white;
    }
    .note-md{
        color:blue;
    }
    ion-icon {
        padding-right: 5px;
        padding-top: 2px;
        font-size: 30px; //Preferred size here
    }
    .card[_ngcontent-c0] {
        position: relative;
        
        // border-radius: 15px;
        
    }
    
    .grey-text.text-darken-4[_ngcontent-c0] {
        color: #2a859c !important;
        font-size: 12px;
    }
    
    .card-md{
        margin-top: 10px;
        margin-left: 0px;
        padding: 0px;
        box-shadow: 0 8px 10px 1px #DEDEE3;
        
    }
    .card-title-md{
        font-size:1.5rem;
    }
    .card-content-md{
        font-size: 12px;
        //
        padding-left:15px;
        padding-right:15px;
        padding-bottom:15px;
        padding-top:0px;
        width: 100%;
        max-width: 400px;
        background: white;
        border-radius: 15px;
        text-align: right;
    }
    span{
        font-size:12px;color:rgb(30, 142, 216);font:bold;
    }
    ion-row{
        background-color: white;
    }
    .footer_Card{
        background-color:white;
    }
    page-home .grey-text.text-darken-4[_ngcontent-c0] {
        color: #212121 !important;
        background: #fbfae1;
        font-size: 18px;}
    .styleType{
        font-weight: bold;
        font-size: 1.5rem;
        padding-left:2px;
        padding-right: 3px;
        overflow: auto;
      }
      .styleType2{
        font-weight: bold;
        font-size: 1.5rem;
        color:black;
        padding-left:22px;
        padding-right:22px;
      }

      h2{
        font-weight: bold;
        font-size: 1.5rem;
      }

      
    .card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    }
    .card .card-title.activator {
        cursor: pointer;
    }
    .card .card-title {
        font-size: 15px;
        font-weight: 300;
    }  
    .row .col {
        float: left;
        box-sizing: border-box;
        min-height: 1px;
        padding: 0px 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .row[_ngcontent-c0]{
        margin-bottom: 0px;
    }
    
    .row[_ngcontent-c0] .position{
        margin-left: auto;
        margin-right: auto;
    }
     .card-md .position{
        font-size: 1.4rem;
        margin-top: 0px;
        background: #ebe8e8;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width:100%;
    }
    .card[_ngcontent-c0] .card-reveal[_ngcontent-c0] {
        padding: 10px;
        position: absolute;
        background-color: #fff;
        width: 100%;
        overflow-y: auto;
        left: 0;
        top: 100%;
        height: 100%;
        z-index: 3;
        display: none;
    }
    .item-md.card-header{
        height: 40px;
        background: #ecebeb;
        width: 350px;
        margin-bottom: 2px;
        padding-bottom: 20px;
        padding-top: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

    }
    
element.style {
    margin-right: 10px;
    margin-bottom: 20px;
}

.card[_ngcontent-c0] {
    border-radius: 15px;
}

    //////////Selected Item///////////////////
    .select-md {
        padding: 13px 0px 13px 8px;
    }
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100%;
    }
    .item-cover {
        right: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        border-color: #00a985;
    }
    .item-ios, .item-md {
        color: #00a985;
        width: 150px;
        font-size:x-small;
        border-radius: 5px;
        border-color: #00a985;
        border-style: solid;
        // margin-top: 10px;
        padding-top: 10px;
        // margin-right: 90px;
    }
    .label-md {
         margin: 0px 0px 10px 3px; 
    }
    .md-vertical-list.mbsc-ios-dark .mbsc-fr-arr {
        background: #0f0f0f;
    }
    /////////////////////////////////  Avatar   ///////////////////////////////////////////
    .image {
        // height: 5vw; 
        // width: 5vw; 
        width:25px;
       height:25px;
       border: 2px solid white;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
   }

   .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start]
    {
    background-color: white;}

   .item-md ion-avatar ion-img, .item-md ion-avatar img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    background-color:white;
}
.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
    margin: 15px 0 8px 16px;
}

   ion-avatar{
    padding: 3px;
    border-style: solid;
    border-color: #00a985;
    border-width: 1px;
    border-radius: 50%;
   }
   .item-md ion-avatar {
    min-width: 30px;
    min-height: 30px;
    }
    //////////////////////////////////////// avatar //////////////////////////////////////
   ion-card-content{
    border-style: solid;
    border-width: 0.2ch;
    border-bottom-color: #e4e2e2;
    border-top:none;
    border-left:none;
    border-right:none;
    // border-top-style: 1px  #c8c7cc;
    // border-bottom-color: #aaaaaa;
   }
   /////lable City///
    .card-md h6.label-city {
    background-color: #7e7e80;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    color:white;    
    border-radius: 30px;
    padding-left:5px;
    padding-right:5px;
      }
    ion-row.details
    {
        margin-top:10px;
        margin-bottom: 10px;
    }
    ion-row.linkdetails{
        margin-top:20px;
        margin-bottom: 20px;
    }
    h5[_ngcontent-c0] {
        margin-bottom: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    // .headerconteant{
    //     background: #ccc; 
    //     text-align: justify; 
    
    //     /* ie 7*/  
    //     *width: 100%;  
    //     *-ms-text-justify: distribute-all-lines;
    //     *text-justify: distribute-all-lines;
    // }
    //  .headerconteant:after{
    //     content: '';
    //     display: inline-block;
    //     width: 100%;
    //     height: 0;
    //     font-size:0;
    //     line-height:0;
    //     display: flex;
    // }
    //   .title1 {
    //     // display: inline-block;
    //     margin-top: 0.321em; 
    
    //     /* ie 7*/ 
    //     // *display: inline;
    //     // *zoom: 1;
    //     // *text-align: left; 
    //     background-color: #7e7b7b;
    //     color:white;
    //     border-radius: 10px;
    //     margin-top: 0px;
    //     padding-top: 5px;
    //     padding-bottom: 5px;
    //     padding-left: 5px;
    //     padding-right: 5px;
    //     clear: both;
    //     margin-bottom: 10px;
    //     // display: inline-block;
    //     // margin-right: 200px;
    //     float: left;
    //     // justify-content: space-between;
    //   }
      
    //   .title2 {
    //     // display: flex;
    //     // justify-content: space-between;
    //     // display: inline-block;
    //     text-align: rgit;
    //     color: #FF9D00;
    //   }
}

