page-emigrate {
    body{
        direction: rtl;
        // background:#c4c2c2;
    }

    .bar-button-menutoggle-md ion-icon {
        padding: 0 6px;
        font-size: 2.4rem;
        color: white;
    }
    .toolbar-background {
        background-color: #298b74;

      }
      .toolbar-title-md
      {
        color:#f4f4f4;
      }
      .bar-button-default-md
      {
        color:#f4f4f4;
      }
      

      .slide{
          padding-top: 10px;
      }
      .btn-w{
          color:#fff
      }
      .g-font{
        font-family: 'Droid Arabic Kufi', serif;
        color: #fff
    }
      //Start Social Media
      .list-inline{padding-left:0;margin-left:-5px;list-style:none}
      .list-inline>li{display:inline-block;padding-right:5px;padding-left:5px}

      .list-inline>li>a{
        font-size:16px;
        // padding: 10px;
        color:#aaaaaa;
        display: inline-block;
        }
        .list-inline>li>a:hover{
            background-color: #3765a3;
            color:#fff;
            padding-right: 5px;
            width: 45px;
        }
        //end Social Media
    .content-md {
        color: #298b74;
        background: #eeee;
    }
    .note-md{
        color:blue;
    }
    ion-icon {
        padding-right: 5px;
        padding-top: 2px;
        font-size: 30px; //Preferred size here
    }
    .card[_ngcontent-c0] {
        position: relative;
        
        border-radius: 15px;
        
    }
    
    .grey-text.text-darken-4[_ngcontent-c0] {
        color: #2a859c !important;
        font-size: 12px;
    }
    
    .card-md{
        margin-top: 10px;
        margin-left: 0px;
        padding: 0px;
        box-shadow: 0 8px 10px 1px #DEDEE3;
        
    }
    .card-title-md{
        font-size:1.5rem;
    }
    .card-content-md{
        font-size: 12px;
        //
        padding-left:15px;
        padding-right:15px;
        padding-bottom:15px;
        padding-top:0px;
        width: 100%;
        max-width: 400px;
        background: white;
        border-radius: 8px;
        text-align: right;
    }
    span{
        font-size:12px;color:rgb(30, 142, 216);font:bold;
    }
    ion-row{
        background-color: white;
    }
    .footer_Card{
        background-color:white;
    }
    page-home .grey-text.text-darken-4[_ngcontent-c0] {
        color: #212121 !important;
        background: #fbfae1;
        font-size: 18px;}
    .styleType{
        font-weight: bold;
        font-size: 1.5rem;
        padding-left:2px;
        padding-right: 3px;
        overflow: auto;
      }
      .styleType2{
        font-weight: bold;
        font-size: 1.5rem;
        color:black;
        padding-left:22px;
        padding-right:22px;
      }

      h2{
        font-weight: bold;
        font-size: 1.5rem;
      }

    .card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    }
    .card .card-title.activator {
        cursor: pointer;
    }
    .card .card-title {
        font-size: 15px;
        font-weight: 300;
    }  
    .row .col {
        float: left;
        box-sizing: border-box;
        min-height: 1px;
        padding: 0px 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .row[_ngcontent-c0]{
        margin-bottom: 0px;
    }
    
    .row[_ngcontent-c0] .position{
        margin-left: auto;
        margin-right: auto;
    }
     .card-md .position{
        font-size: 1.4rem;
        margin-top: 0px;
        background: #ebe8e8;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width:100%;
    }
    .card[_ngcontent-c0] .card-reveal[_ngcontent-c0] {
        padding: 10px;
        position: absolute;
        background-color: #fff;
        width: 100%;
        overflow-y: auto;
        left: 0;
        top: 100%;
        height: 100%;
        z-index: 3;
        display: none;
    }
    //////////Selected Item///////////////////
    .select-md {
        padding: 13px 0px 13px 8px;
    }
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100%;
    }
    .item-cover {
        right: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        border-color: #00a985;
    }
    .item-ios, .item-md {
        color: #00a985;
        width: 150px;
        font-size:x-small;
        border-radius: 5px;
        border-color: #00a985;
        border-style: solid;
        margin-top: 10px;
        // padding-top: 10px;
        // margin-right: 90px;
    }
    .label-md {
         margin: 0px 0 0px 8px; 
    }
    .md-vertical-list.mbsc-ios-dark .mbsc-fr-arr {
        background: #0f0f0f;
    }
    .image {
        height: 5vw; 
        width: 5vw; 
       border: 2px solid #fff;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
   }
   
   .circle-pic{
       width:50px;
       height:50px;
       -webkit-border-radius: 50%;
    
   }
   ion-avatar{
    padding: 3px;
    border-style: solid;
    border-color: #00a985;
    border-width: 1px;
    border-radius: 50%;
   }
}
